body {
  margin: 0;
  padding: 0;

  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: #444444;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.page-header {
  min-height: 360px;
  padding-top: 60px;
  padding-bottom: 150px;
  
  color: #ffffff;
  
  background-color: #5e3809;
  background-image: url("img/wheat-back.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.header-top .logo {
  float: left;
  width: 140px;
  height: 76px;
}

.main-menu {
  float: right;
  width: 600px;
  min-height: 57px;
  margin-top: 10px;
  margin-left: 0;
  margin-bottom: 115px;
  padding: 0;
  border-top: 1px solid rgba(255, 255, 255 ,0.2);
  border-bottom: 1px solid rgba(255, 255, 255 ,0.2);
  list-style: none;
}

.main-menu li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
}

.main-menu li:nth-child(4n) {
  margin-right: 0;
}

.main-menu a {
  display: block;
  padding: 20px 0;
  
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.page-header .tagline {
  margin: 0;
  padding: 0;

  font-size: 70px;
  line-height: 70px;
  font-weight: bold;
  text-align: center;
}