/* общие стили */

body {
  margin: 0;
  padding: 0;

  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: #444444;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* узкий центровщик */
.container {
  width: 800px;
  margin: 0 auto;
}

/* Широкий центровщик */
.wrapper {
  width: 1015px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  padding: 14px 20px;
  border: 2px solid #834700;
  
  line-height: 20px;
  font-weight: bold;
  color: #834700;
  text-transform: uppercase;
  text-decoration: none;
}

.btn:hover {
  color: #6a3900;
  border-color: #6a3900;
}

.btn:active {
  opacity: 0.3;
}

.btn-inverse {
  color: #ffffff;
  
  background-color: #834700;
}

.btn-inverse:hover {
  color: #ffffff;
  
  background-color: #6a3900;
}

.btn-inverse:active {
  opacity: 1;
  color: rgba(255, 255, 255, 0.3);
}

.section-title {
  margin-top: 0;
  
  font-size: 40px;
  line-height: 61px;
  color: #000000;
  text-transform: uppercase;
}

/* шапка сайта */

.page-header {
  padding-top: 60px;
  padding-bottom: 150px;
  
  color: #ffffff;
  
  background-color: #5e3809;
  background-image: url("img/wheat-back.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.header-top .logo {
  float: left;
  width: 140px;
  height: 76px;
}

.main-menu {
  float: right;
  width: 600px;
  margin-top: 10px;
  margin-left: 0;
  margin-bottom: 115px;
  padding: 0;
  list-style: none;
}

.main-menu li {
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px; /* убираем пробел между блочно-строчными элементами */
  padding-right: 50px;
  border-top: 1px solid rgba(255, 255, 255 ,0.2);
  border-bottom: 1px solid rgba(255, 255, 255 ,0.2);
}

.main-menu li:nth-child(4n) {
  padding-right: 0;
}

.main-menu a {
  position: relative;

  display: block;
  padding: 20px 0;
  
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.main-menu a:hover {
  color: #ffcb78;
}

.main-menu a:active {
  color: rgba(255, 203, 120, 0.3);
}

.main-menu a::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;

  width: 100%;
  height: 1px;

  background-color: transparent;
}

.main-menu a:hover::after,
.main-menu a:active::after {
  background-color: #ffffff;
}

.page-header .tagline {
  margin: 0;
  padding: 0;

  font-size: 70px;
  line-height: 70px;
  font-weight: bold;
  text-align: center;
}

/* новинки */

.new-sorts {
  padding-top: 85px;
  padding-bottom: 110px;
}

.new-sorts .section-title {
  margin-bottom: 80px;
}

.new-sorts .card {
  position: relative;

  float: left;
  width: 334px; /* 400px - 2 * 33px */
  padding: 0 33px;
}

.card h3 {
  margin-top: 0;
  margin-bottom: 30px;
  
  font-size: 40px;
  line-height: 61px;
  color: #000000;
  text-transform: uppercase;
}

.kwast-sample_details {
  position: absolute;
  top: 90px;
  right: 28px;

  width: 150px;
}

.kwast-sample_details .characteristics {
  width: 100%;
  border-collapse: collapse;
}

.characteristics th,
.characteristics td {
  padding: 2px 10px;
  border: 1px solid #e5e5e5;
  
  line-height: 41px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  text-align: left;
}

.kwast-sample_details .composition {
  margin-top: 10px;
  
  font-size: 14px;
  line-height: 24px;
}

.kwast-sample-image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.kwast-sample-description {
  margin-top: 12px;
}

.card .btn-details {
  margin-right: 2px;
}

.card .btn-inverse {
  margin-right: 20px;
}

.card .item-price {
  line-height: 20px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}
.card .btn-details {
  margin-top: 52px;
}

/* преимущества */

.features {
  padding-top: 80px;
  padding-bottom: 75px;
  background-color: #ffcb78;
}

.features-list {
  margin: 0;
  padding: 0 2px;
  list-style: none;
}

.features-item {
  float: left;
  width: 210px;
  margin-right: 190px;
  padding-top: 100px;
  
  background-image: url("img/icon-brew.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-item:nth-child(3n) {
  float: right;
  margin-right: 0;
}

.features-item:first-child {
  background-image: url("img/icon-brew.png");
}

.features-item:nth-child(2) {
  background-image: url("img/icon-matreshka.png");
}

.feature-item:nth-child(3) {
  background-image: url("img/icon-thumbsup.png");
}

.feature-tagline {
  margin-bottom: 25px;
  
  font-size: 20px;
  color: #000000;
  text-transform: uppercase;
}

/* исторический раздел */

.history-blog {
  padding-top: 80px;
  padding-bottom: 75px;
}

.history-blog .section-title {
  margin-bottom: 75px;
}

.history-preview-header h3 {
  float: left;
  width: 490px;
  margin-top: 0;
  margin-bottom: 25px;
  
  font-size: 20px;
  color: #000000;
  text-transform: uppercase;
}

.history-source {
  float: right;
  width: 200px;
}

.history-source a {
  color: #834700;
  font-style: italic;
}

.history-source a:hover {
  color: #6a3900;
}

.history-source a:active {
  color: #cab7a2;
}

.history-preview-content {
  margin-left: 0;
  margin-bottom: 60px;
}

.history-preview-content img {
  float: right;
  max-width: 100%;
  height: auto;
}

.history-preview-text {
  float: left;
  width: 490px;
}

/* пресса */

.quote {
  padding-top: 80px;
  padding-bottom: 90px;
  
  background-color: #ede5d8;
}

.quote .section-title {
  margin-bottom: 85px;
}

.quote .review {
  position: relative;

  margin: 0;
  padding: 0;
}

.quote .review::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -110px;

  width: 41px;
  height: 31px;
  
  background-image: url("img/quotes.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.review p {
  width: 690px;
}

.review p:first-child {
  margin-top: 0;
}

.review cite {
  float: right;
  width: 400px;
  margin-top: 42px;
  
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  color: #000000;
  text-transform: uppercase;
  text-align: right;
}

.review .btn {
  float: left;
  margin-top: 30px;
  border-color: #a5a097;
  
  color: rgba(0, 0, 0, 0.3);
}

.review .btn:hover {  
  color: #ffffff;
  
  background-color: #a5a097;
}

.review .btn:active {
  border-color: #8f8a81;

  color: rgba(255, 255, 255, 0.3);

  background-color: #8f8a81;
  opacity: 1;
}

/* ассортимент */

.stock {
  padding-top: 95px;
  padding-bottom: 90px;
}

.stock .section-title {
  margin-bottom: 85px;
}

.stock-table {
  width: 100%;
  border-collapse: collapse;
  
  text-transform: uppercase;
}

.stock-table th,
.stock-table td {
  border-bottom: 1px solid #e5e5e5;
}

.stock-table th {
  padding-top: 0;
  padding-bottom: 30px;
  
  font-size: 11px;
  color: #999999;
  text-align: left;
}

.stock-table td {
  padding: 20px 0;
}

.stock-table td:first-child {
  position: relative;
  
  width: 50%;

  font-weight: bold;
  color: #000000;
}

.stock-table th:last-child,
.stock-table td:last-child {
  text-align: right;
}

.stock-table .new-item {
  position: absolute;
  top: 25px;
  
  padding: 3px 6px;
  
  font-size: 8px;
  line-height: normal;
  font-weight: bold;
  color: #ffffff;
  
  background-color: #000000;
  transform: translateX(20px);
}

/* форма заказа */

.custom-form {
  padding-top: 85px;
  padding-bottom: 110px;
  background-color: #ffcb78;
}

.custom-form .container {
  outline: 1px solid red;
}

.custom-form .section-title {
  margin-bottom: 85px;
}

.custom-form h2,
.custom-form p {
  width: 650px;
}

.custom-form form {
  width: 630px;
  margin-top: 70px;
  outline: 1px solid blue;
}

.custom-form label {
  display: block;
}

.custom-form .half-sized {
  width: 50%;
  outline: 1px solid green;
}

.custom-form .phone-primary {
  float: left;
}

.custom-form .phone-second {
  float: right;
}

.custom-form input[type="text"],
.custom-form select,
.custom-form textarea {
  box-sizing: border-box;
  width: 100%;

  font: inherit;
}

.custom-form br.hidden {
  display: none; /*убираем тэг между флоатами */
}